@import "../../styles/partials/variables";
@import "../../styles/partials/fonts";
@import "../../styles/partials/mixins";

.header {
  padding: 0 1.6rem;

  @include tablet {
    padding: 0 3.6rem;
  }

  @include desktop {
    padding: 1.6rem 16rem;
  }

  &__nav-link{
    padding-left: 5rem;

    @include tablet{
      padding-left:0;
    }

  }

  &__container {
    display: grid;
    grid-template-columns: 6fr 1fr;
    grid-template-rows: auto auto;
    padding: 1.6rem 0;
    gap: 1.6rem;

    @include tablet {
      grid-template-columns: auto 2fr auto;
      grid-template-rows: auto;
      align-items: center;
      justify-content: space-between;
      gap: 1.6rem;
      padding-left: 0;
      padding-right: 0;
    }

    @include desktop {
      grid-template-columns: 1 fr auto auto;
    }
  }

  &__btn-link {
    grid-column: 1 / 3;
    grid-row: 3 / 4;

    @include tablet {
      grid-column: 3 / 4;
      grid-row: 1 / 2;
    }

    @include desktop {
      left: 15.7rem;
      width: 100%;
      top: 0.5rem;
      margin-bottom: 0;
      margin-right: 2rem;
    }
  }

  &__logo {
    grid-column: 1 / 3;
    justify-self: center;
    align-self: center;
    width: 100%;
    max-height: 2.5rem;
    max-width: 12rem;

    @include tablet {
      width: auto;
      grid-column: 1 / 2;
      justify-self: start;
    }
  }

  &__avatar {
    width: 3.6rem;
    height: 3.6rem;
    border-radius: 50%;
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    justify-self: end;
    object-fit: cover;

    @include tablet {
      grid-column: 4 / 5;
      grid-row: 1 / 2;
      width: 4rem;
      height: 4rem;
    }

    &--main {
      display: block;

      @include tablet {
        display: none;
      }
    }

    &--secondary {
      display: none;

      @include tablet {
        display: block;
      }
    }
  }

  &__form {
    grid-column: 1 / 2;
    grid-row: 2 / 3;

    @include tablet {
      grid-column: 2 / 3;
      grid-row: 1 / 2;
      padding-left: 8rem;
    }

    @include desktop {
      padding-left: 30rem;
      padding-right: 1rem;
    }
  }

  &__search {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    gap: 1.5rem;

    @include tablet {
      flex-grow: 1;
    }
  }

  &__search-text {
    background-color: $alabaster-col;
    border: 1px solid $mercury-col;
    border-radius: 4px;
    padding-left: 2rem;
    width: 100%;
    height: 4rem;
    flex: 1;
    background-image: url(../../assets/icons/search.svg);
    background-repeat: no-repeat;
    background-position: center left 1rem;
    background-size: 1.5rem;
    margin-bottom: 0;
  }
}

::placeholder {
  color: $dark-black-col;
  padding-left: 1.5rem;
  font-size: 1.2rem;

  @include tablet {
    padding-left: 2rem;
  }
}
