@use "./mixins" as *;
@use "./typography" as *;
@use "./variables" as *;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


main {
    padding: 0 0.8rem;
    margin-bottom:1.6rem;
  
    @include tablet {
      padding: 0 3.6rem;
    }
  }
  
  html {
    font-size: 62.5%;
  }
  
  body {
    font-family: 'Titillium Web', Arial, Helvetica, sans-serif;
    background-color: $background;
  }

  .header {
    max-width: 1280px;
    margin: 0 auto;
    text-align: center;
  }

  button, input, textarea {
    font-family: inherit;
}

a {
    text-decoration: none;
    color: inherit;
}

h1 {
    @include page-header;
}

h2 {
    @include subheader;
}

h4 {
    @include table-header;
}

label, a, button {
    @include labels-links-buttons;
}



html, body {
  height: 100%;
  width: 100%;
  overflow-x: hidden;
}

