$tablet-width: 768px;
$desktop-width: 1280px;

// colours

$creamy-colour: #EEEEEE;
$peach-colour: #eb5b5b67;
$pink-colour: #F9B5D0;
$dark-blue-colour: #0C1844;
$dark-pink-colour: #FF697B;

$light-green-colour:#C9E9D2;
$light-blue-colour:#B7E0FF;

