$tablet-width: 768px;
$desktop-width: 1280px;

// colours

$color-red: #C94515;

$light-green-colour:#77B254;
//5CB338
$light-blue-colour:#cce8fd;

$background: #fbfbfe;
$primary: #e1364ae6;
$secondary: rgb(255, 242, 242);
$accent: #451c55;
$text:#373e49;

