@use "../../styles/partials/variables" as *;
@use "../../styles/partials/typography" as *;
@use "../../styles/partials/mixins" as *;

main {
  padding: 0 0.8rem;
  padding-bottom: 1.6rem;
  background-color: #FAFAFA;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  @include tablet {
    padding-right: 5rem;
    padding-left: 5rem;
    padding-bottom: 3.4rem;
  }

  @include desktop {
    padding-right: 8rem;
    padding-left: 8rem;
  }
}

.calendar {
  &__calendar-container {
    color: $text;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    max-width: 1280px;
    overflow: hidden;
  }
}

.fc-timegrid-slot-label-cushion {
  font-size: 1rem;

  @include tablet {
    font-size: 1.3rem;
  }
}

.fc-timegrid-slot-label-frame {
  display: flex;
  align-items: flex-start;
  height: 100%;
}

.fc-team-standart {
  margin-right: 1.6rem;
}

table tr {
  height: 3rem;

  @include tablet {
    height: 5rem;
  }
}

input {
  padding: 0.5rem;
}

.rbc-header{
  background-color: $secondary;
}

.fc-scrollgrid {
  // background-color: $secondary;
}

.fc-timegrid-col.fc-day-today {
  background-color: $secondary !important;
}


h1 {
  padding: 1.6rem 0.8rem;
  color: $text;
  font-family: "Titillium Web", Arial, Helvetica, sans-serif;

  @include tablet {
    padding: 3.2rem 0;
  }

  @include desktop {
    padding: 3.6rem 0;
  }
}

.fc-header-toolbar {
  display: inline-block;

  > *:not(:last-child) {
    margin-right: 2rem;
  }
}

.fc-day {
  margin: 2rem;
}

.fc-scrollgrid-sync-table,
.fc-view {
  width: 100%;
}

.fc-view {
  height: 100%;
  background-color: #ffffff;

  @include tablet {
    height: 75%;
  }

  @include desktop {
    height: 66.7%;
  }
}

.fc-h-event {
  background-color: $secondary;
  border: 1px solid $primary;
}

.fc .fc-daygrid-day.fc-day-today {
  background-color: white;
}

.fc .fc-button {
  background-color: $secondary;

  &:hover {
    background-color: $accent;
  }
}

.fc .fc-button-primary {
  background-color: $secondary;
  color: $text;
  border: 1px solid grey;
  font-size: 1.1rem;
  border-radius: 10px;

  @include tablet {
    font-size: 1.3rem;
    height: 4rem;
    width: 6rem;
  }

  &:hover {
    color: black;
    border-color: $primary;
    background-color: $secondary;
  }

  &:active {
    background-color: $accent;
    border-color: $accent;
  }
}

.fc .fc-button-primary:not(:disabled).fc-button-active {
  background-color: $primary;
  color: white;
}

.fc .fc-button-primary:disabled {
  background-color: $primary;
  color: white
}


.fc-v-event {
  background-color: $primary;
  border: 1px solid $background;
  border-radius: 10px;
  padding-left: 0.5rem;
}

.fc-col-header-cell-cushion {
  text-decoration: none;
  color: black;
  font-family: "Titillium Web", Arial, Helvetica, sans-serif;
  font-size: 1.1rem;

  @include tablet {
    font-size: 1.5rem;
    color: #373e49;
  }
}

.fc-scrollgrid-section-body > tbody[role="presentation"] {
  display: none;
}

.fc .fc-daygrid-day-frame,
.fc .fc-timegrid-slot {
  border-left: none;
  border-right: none;
}

.fc-bg-event.available-event {
  background-color: $light-green-colour;
  color: #4b5563;
  font-weight: bold;
  text-align: center;
  border: none;
  border-radius: 10px;
  font-style: normal;
  border: 1px solid white;
  margin: 0.4rem 1rem;
}

.available-event .fc-event-title {
  display: none;
  font-style: normal;

  @include tablet {
    display: block;
  }

  @include desktop {
    display: block;
  }
}

.fc .fc-bg-event {
  --fc-bg-event-opacity: 1;
}

.fc .available-event .fc-event-title {
  font-style: normal;
}

a {
  color: white;
  text-decoration: none;
}

.fc-daygrid-day-number {
  color: $text;
  text-decoration: none;
}

.fc-daygrid-dot-event {
  background-color: $primary;
  display: flex;
  flex-direction: column;
  border-radius: 10px;

  @include tablet {
    flex-direction: row;
  }
}

.fc-event-time,
.fc-event-title {
  color: $text;
}







  
  
  

  
  