@use "../../styles/partials/variables" as *;
@use "../../styles/partials/typography" as *;
@use "../../styles/partials/mixins" as *;

.footer {
  width: 100%;
  padding-top: 3rem;
  padding-bottom: 3rem;
  display: flex;

  @include tablet {
    padding-top: 5rem;
    padding-bottom: 5rem;
  }

  &__license {
    color: #373e49;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;

    @include body-small;
  }
}
